<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--DLL总文件夹，读取时不读取子文件夹，读取dll和exe格式的文件。最后要有斜杠-->
		<add key="DllPath" value="E:\DevStu\ConsoleApp_Dll_Class2Json\ConsoleApp_Dll_Class2Json\bin\Debug\Dll\"/>
		<!--生成的Json文件总文件夹，按DLL文件名创建子文件夹，若已存在则先清空再重写内容。最后要有斜杠-->
		<add key="JsonPath" value="E:\DevStu\ConsoleApp_Dll_Class2Json\ConsoleApp_Dll_Class2Json\bin\Debug\Json\"/>
		<!--是否只处理Public可访问性的类 是Y则处理，其他不处理-->
		<add key="IsOnlyCheckPublicClass" value=""/>
		<!--是否只处理包含某关键字的类 为空则不筛选，有值则筛选-->
		<add key="FiltersClassKeyName" value=""/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
